
@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1200px) {
  .contain{
    padding-right: 10px;
    padding-left: 10px;
  }
  .element_slide>div {
    margin-left: 10px;
    width: 430px;
  }
  .element_slide .text_card{
    padding: 20px 10px 20px 20px;
  }
  /*category block*/
  .category_bl .contain>div{
    margin-right: 1px;
  }
}
@media only screen and (max-width: 1170px) {
  /*filter block*/
.footer_for_bl > div{
  margin-left: 0;
}
.head_price > div,
.head_area_m > div{
  margin-right: 10px;
}
#btn_g_rent{
  margin-left: 0;
  margin-top: 26px;
  min-width: 125px;
}
}
@media only screen and (max-width: 960px) {
  /*header*/
  .call_back a{
    height: 60px;
    width: 140px;
  }
  .call_back>a p:first-child{
    display: none;
  }
  .call_back i{
    font-size: 30px;
    margin-top: 5px;
  }
  .call_back>a p:last-child{
    display: block;
    line-height: 58px;
    padding-left: 20px;
    font-size: 18px;
  }
  nav{
    display: none;
  }
  .bot_header .contain{
    height: 110px;
  }
  .nav>a{
    display: flex;
  }
  /*slider*/
  .wraper_slider img,
  .slider{
    height: 500px;
  }
  .element_slide > div{
    bottom: 100px;
  }
    /*category block*/
    .category_bl .contain>div{
      max-width: 300px;
    }
    .body_category{
      height: 193px;
    }
    .footer_category a{
      padding: 18px 0;
      font-size: 14px;
    }
    .body_category h2{
      margin-top: 65px;
      padding: 0 0 3px;
      font-size: 46px;
    }
    .category_bl .contain{
      margin-top: -125px;
      padding-bottom: 60px;
    }
    .body_category:hover h2 {
       padding: 0 0 3px;
    }

}
@media only screen and (max-width: 950px) {
  /*category block*/
.body_category h2{
  font-size: 42px;
}


  /*filter-----*/
#give_rent,.button_category{
  /*display: none;*/
}
.button_category .buy_bt{
  float: left;
}
.button_category .rent_bt{
  float: right;
}
.tab-content{
  padding: 10px;
}
#give_rent_form{
  flex-wrap: wrap;
}
#give_rent_form>div{
  width: 50%;
}
#give_rent_form select,
#give_rent_form .city_form_bl select{
  width: 95%;
  align-self: center;
}
.tab-content input{
  width: 92%;
  align-self: center;
}
.footer_for_bl{
  flex-direction: column;
}
.footer_for_bl input{
  max-width: 100%;
}
.head_price>div{
  width: 95%;
  margin-right: 0;
}
.footer_for_bl > div,
.body_area_m > input{
  margin-left: 0;
}
.footer_for_bl{
  padding-top: 0;
}
.footer_for_bl .area_hov{
  width: 100%;
}
.footer_for_bl .roms_num_bl,
.footer_for_bl .places_form_bl{
  align-self: center;
  width: 100%;
}
#rooms_num,
#sleep_num{
  width: 50%;
  align-self: center;
}
#give_rent label{
  text-align: center;
}
.roms_num_bl select,
.footer_for_bl select{
  max-width: 90%;
}
.footer_for_bl .places_form_bl{
  align-self: center;
}
.head_price>input{
  width: 87%;
  align-self: center;
  margin: 15px 13px 0 10px;
}
.body_area_m>input{
  width: 92%;
  align-self: center;
  margin: 15px 17px 0 11px;
}
.footer_for_bl .body_area_m{
  width: 100%;
  margin-right: 0;
}
.rise_cent>input,
.area_form_bl>input{
  height: 5px;
}
#btn_g_rent{
  width: 50%;
  align-self: center;
  margin: 10px 0 10px;
}
}
@media only screen and (max-width: 768px) {
    /*slider*/
  .wraper_slider img,
  .slider{
    height: 400px;
  }
  .element_slide > div{
    width: 100%;
  }
  .element_slide .text_card{
    padding: 10px;
  }
  .element_slide .text_card{
    max-width: 768px;
    width: 94%;
  }
  .element_slide .text_card a{
    font-size: 22px;
  }
  .category_bl .contain{
    padding: 20px 10px;
  }
/*category block*/
.category_bl .contain{
  flex-direction: column;
  margin-top: 0;
}
.category_bl .contain>div{
  max-width: 100%;
  align-self: center;
  margin-bottom: 20px;
}
.body_category{
  height: 350px;
}
.footer_category a{
  padding: 32px 0;
  font-size: 20px;
}
.body_category h2{
  margin-top: 145px;
  padding: 15px 0 25px;
  font-size: 50px;
}
.body_category:hover h2 {
     padding: 15px 0 25px;
}
}
@media only screen and (max-width: 560px) {
  .contain{
    padding: 50px 0;
  }
      /*slider*/
      .wraper_slider img,
      .slider{
        height: 360px;
      }
  .element_slide .text_card{
    max-width: 768px;
    width: 92%;
  }
  .element_slide .text_card a{
    font-size: 20px;
  }
  .element_slide .text_card p{
    font-size: 14px;
  }
  .element_slide > div{
    bottom: 90px;
  }
  .element_slide .bl_cent_categ{
    font-size: 14px;
  }
  /*Фильтер*/
.header_filter{
  flex-direction: column;
}
.button_category{
  align-self: center;
  width: 100%;
  margin-top: 10px;
  justify-content: space-around;
}
.button_category .buy_bt,
.button_category .rent_bt{
  margin: 0;
}
.head_price>input{
  width: 87%;
  margin: 15px 8px 0 10px;
}
.body_area_m>input{
  width: 92%;
  margin: 15px 10px 0 10px;
}
}
@media only screen and (max-width: 460px) {
  #give_rent_form{
    flex-direction: column;
  }
  #give_rent_form>div{
    width: 100%;
  }
  #rooms_num,
  #sleep_num{
    width: 100%;
  }
  .roms_num_bl select,
  .footer_for_bl select{
    max-width: 100%;
  }
}
@media only screen and (max-width: 1366px) {

}
